slurmOutput
trash
settings_set
catboost_info
cache
.vscode
.snakemake
.keras
.ipynb_checkpoints
.config
.cache
lib/__pycache__
lib/utils/__pycache__
settings/__pycache__
settings_set/
lib/matplotlib_venn/__pycache__